<html>
    <head>
        <title>Add Student Module</title>
    </head>
    <body>
        <h1> Add Student Module </h1>
        <form action="/saveDetails" method="post">
        <table>
            <tr>
                <td>Name </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Percentage</td>
                <td><input type="number" name="percentage" step=".01"></td>
            </tr>
            <tr>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
        </form>

    </body>
</html>